<html xmlns:spl="http://caspco.ir/spl" ng-app="lego.base">
<head>
    <title ng-bind-template="{{app.title |translate }}{{app.title && page.title ? ' - ' : ''}}{{page.title | translate }}"></title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" href="vendors/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">

    <!-- inject:css -->
    <link rel="stylesheet" href="vendors/JalaliJSCalendar/skins/calendar-green.css">
    <link rel="stylesheet" href="vendors/ng-tags-input/ng-tags-input.css">
    <link rel="stylesheet" href="vendors/angular-ui-select/dist/select.css">
    <link rel="stylesheet" href="vendors/angular-toastr/dist/angular-toastr.css">
    <link rel="stylesheet" href="vendors/angular-ui-grid/ui-grid.css">
    <link rel="stylesheet" href="vendors/components-font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="vendors/bootstrap-rtl/dist/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../dist/css/app.css">
    <link rel="stylesheet" href="../dist/css/app-rtl.css">
    <!-- endinject -->


</head>
<body ng-cloak ng-keydown="fireKeyDown($event)" class="application-body">

<spl:waiting>
</spl:waiting>
<spl:top-navbar>
</spl:top-navbar>
<spl:menubar>
</spl:menubar>
<spl:testable-body>
    <div class="row">
        <div class='col-xs-6'>
            <spl:input-text label="name" name='firstName' model='Search.firstName' type-ahead='firstName'
                            autofocus='true'></spl:input-text>
        </div>

    </div>
</spl:testable-body>
<spl:footer>
</spl:footer>

<!-- deps:js -->
<script src="vendors/jquery/dist/jquery.js"></script>
<script src="vendors/alertifyjs/dist/js/alertify.js"></script>
<script src="vendors/lodash/lodash.js"></script>
<script src="vendors/JalaliJSCalendar/dist/calendar.js"></script>
<script src="vendors/angular/angular.js"></script>
<script src="vendors/angular-animate/angular-animate.js"></script>
<script src="vendors/angular-resource/angular-resource.js"></script>
<script src="vendors/angular-route/angular-route.js"></script>
<script src="vendors/angular-sanitize/angular-sanitize.js"></script>
<script src="vendors/bootstrap/dist/js/bootstrap.js"></script>
<script src="vendors/ng-tags-input/ng-tags-input.js"></script>
<script src="vendors/angular-ui-select/dist/select.js"></script>
<script src="vendors/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="vendors/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="vendors/angular-ui-grid/ui-grid.js"></script>
<script src="vendors/angular-translate/angular-translate.js"></script>

<!-- endinject -->
<script src="../dist/index.js"></script>
<script src="./TestController.js"></script>

</body>
</html>