.pull-right {
	float: left;
}
.pull-left {
	float: right;
}
.navbar-nav {
}
.secondary-nav .breadcrumb {
	float: left;
}
.hovering.badge {
	left: 0;
	right: -5px;
}
.sidebar-view-toggle {
	float: right;
	padding-right: 0;
	padding-left: 10px;
}
.glyphicon-chevron-left:before {
	content: "\e080";
}
.glyphicon-chevron-right:before {
	content: "\e079";
}
.navbar-right .dropdown-menu {
	left: 0;
	right: auto;
}
.sidebar .card {
	margin-left: 0;
	margin-right: 10px;
	float: right;
}
.sidebar .card .aside {
	float: right;
}
.sidebar .card .cover {
	padding-left: 0;
	padding-right: 60px;
}
.sidebar .menu.card .details {
	padding-left: 0;
	padding-right: 15px;
}
.sidebar .menu.card .details .column {
	direction: rtl;
}
.sidebar .menu.card .details .column > span:before {
	content: "\e079";
	padding-left: 2px;
	padding-right: 0;
}

@media (min-width: 992px) {

	.sidebar .card {
		margin-right: 0;
		border-left: none;
		border-right: 1px solid #c1c1c1;
	}

	.sidebar .card .aside {
		float: right;
	}

	.sidebar .card .cover {
		padding-right: 30px;
		padding-left: 0;
	}

	.sidebar .user.card .cover {
		padding-right: 70px;
		padding-left: 0;
	}
}

.sidebar-toggle {
	float: left;
	margin-left: 15px;
	margin-right: 0;
	left: auto;
	right: 15px;
}
.panel-info > .panel-heading {
	border-width: thick;
	height: 50px;
}

.panel-header-rtl {
	float: right;
}
.panel-content {
	float: right;
}

.submit-button {
	width: inherit;
}

.navbar-inverse {
	float: left;
	background-color: inherit;
}

.locale-button {
	left: 10%;
}