body {
    margin: 0;
    font-family: X-Nassim, "Helvetica", serif;
    background: #EBF3F6;
    overflow-x: hidden;
}

.top.badge {
    font-size: 8px;
    vertical-align: top;
    padding: 2px 5px;
    top: -3px;
}

.hovering.badge {
    position: relative;
    left: -5px;
}

.red.badge {
    background: #ff0000;
}

.blue.badge {
    background: #5caaff;
}

.yellow.badge {
    background: #ffcc6e;
}

.animated.badge {
    opacity: 0.7;
    position: relative;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.animated.top.badge {
    top: -2px;
}

a:hover .animated.badge {
    opacity: 1;
}

a:hover .animated.top.badge {
    top: -6px;
}

.sidebar {
    background: #f8f8f8;
    padding-top: 10px;
    min-height: 100%;
    color: black;
    z-index: 100;
    border: 2px solid #e7e7e7;
}

.sidebar .card {
    height: 120px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 5px;
    display: block;
    cursor: default;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    float: none;
    border-radius: 5px;
    background: inherit;
    border-left: 1px solid #c1c1c1;
    border-right: 0;
}

.sidebar .card:hover {
    background: inherit;
}

.sidebar .card .aside {
    min-height: 100%;
    display: block;
    float: left;
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 70px;
    width: 70px;
}

.sidebar .card .cover + .aside {
    opacity: 1;
    position: relative;
    top: -100%;
}

.sidebar .card .cover {
    width: 100%;
    min-height: 100%;
    position: relative;
    padding-left: 30px;
    padding-top: 30px;
}

.sidebar .menu.card {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    padding: 0;
    height: auto;
}

.sidebar .menu.card .header {
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
}

.sidebar .menu.card .details {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .menu.card .details .column a {
    color: #808080;
}

.sidebar .menu.card .details .column > span:before {
    font-family: "Glyphicons Halflings", serif;
    font-size: 10px;
    padding-right: 2px;
    content: "\e080";
    color: #808080;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background: #2993cf;
}

.sidebar #sidebar-cards.collapse {
    height: auto;
    display: block;
}

.sidebar .user.card {
    height: 10%;
    background: #ffffff;
    margin-bottom: 10px;
}

.sidebar .user.card .cover {
    padding-left: 70px;
    padding-top: 20px;
}

.sidebar-toggle {
    display: none;
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    left: 15px;
    background-color: #f8f8f8;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.sidebar .user.card .status.online {
    color: #008000;
}

.sidebar .user.card .status.away {
    color: #b4ae68;
}

.sidebar .user.card .status.busy {
    color: #af3442;
}

.main-content {
    padding: 0;
    margin-top: 2%;
}

.body {
    padding: 0;
    background: #EBF3F6;
}

.navbar {
    margin-bottom: 0;
    position: fixed;
    min-height: 5%;
    border: 1px solid transparent;
    height: 50px;
    width: 87%;
    right: 0;
    box-shadow: 0 1px 10px 0 rgba(50, 50, 50, 0.2);
}

.secondary-nav {
    background: #EBF3F6;
    border-bottom: 1px solid #e7e7e7;
    min-height: 35px;
    cursor: default;
}

.secondary-nav .breadcrumb {
    background: none;
    margin-bottom: 0;
    float: right;
}

.secondary-nav h1 {
    margin: 0;
    font-size: 18px;
    display: inline-block;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.secondary-nav h1 small {
    font-size: 14px;
}

.sidebar-toggle:focus {
    outline: 0;
}

.sidebar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
}

.sidebar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

.main-content.ng-enter {
    -webkit-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.menu.card.ng-enter {
    -webkit-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.animate-show {
    opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    display: block !important;
}

.animate-show.ng-hide-add.ng-hide-add-active, .animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

.brand {
    background: #1aaac7;
}

.brand .navbar-brand {
    color: blanchedalmond;
}

.brand .navbar-brand:hover, .brand .navbar-brand:focus {
    color: #ffffff;
}

.sidebar-view-toggle {
    display: inline-block;
    float: left;
    height: 50px;
    cursor: pointer;
    padding-top: 15px;
    margin-right: 10px;
    color: #ececec;
}

.notification.dropdown li.unread {
    background: lightgray;
}

.notification.dropdown li.done {
    text-decoration: line-through;
}

@font-face {
    font-family: "X-Nassim";
    src: url("./nasim-regular.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    unicode-range: U+0600-06FF /* arabic */, U+0750-077F /* supplement */, U+08A0-08FF /* extended-a */, U+FB50-FDFF /* forms-a */, U+FE70-FEFF /* forms-b */, U+10E60-10E7F /* rumi numerical*/, U+1EE00-1EEFF /* math */
;
}

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    width: auto;
    display: block;
    height: 350px !important;
}

.littleGridStyle {
    border: 1px solid rgb(212, 212, 212);
    height: 300px !important;
}

.modal-grid {
    max-width: 890px;
    width: 102%;
    height: 350px;
    margin-top: 1%;
    margin-right: -1%;
}

.ui-grid-header-cell {
    max-height: 30px;
    height: auto;
}

.glyphicon-search:hover {
    cursor: auto;
}

.file-upload {
    position: relative;
    overflow: hidden;
    margin: 0 0 0 0;
}

.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-nav > li > .dropdown-menu {
    background: rgb(193, 221, 245) !important;
}

.page-content {
    margin-top: 4%;
    padding-top: 40px;
    background: #eef1f5;
}

.expandableRow .ui-grid-row:nth-child(odd) .ui-grid-cell {
    background: aqua;
}

.ui-grid-row-selected .ui-grid-cell {
    background-color: #c4e3f3 !important;
    color: #31708f;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: lavender;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #ffffff;
}

.modal-header {
    background: #5CB9B9;
    color: #ffffff;
    text-align: inherit;
    padding: 0;
}

.modal-footer {
    background: white;
    text-align: center;
}

.pagination > li > a, .pagination > li > span {
    color: #000000;
}

.panel-footer {
    color: #000000;
    font-size: small;
}

.alertify .ajs-header {
    color: #ffffff;
    background: brown;
}

.toast-error {
    background-color: #C00900;
    font-size: medium;
}

.has-error .form-control {
    background: #ffb9ad;
}

.modal-body {
    overflow-y: visible;
    border-right: 1em solid #5bc0de;
}

.search-modal-body {
    max-height: 520px;
}

.btn-print {
    box-shadow: 0 1px 2px #fff, /*bottom external highlight*/ 0 -1px 1px #666, /*top external shadow*/ inset 0 -1px 1px rgba(0, 0, 0, 0.5), /*bottom internal shadow*/ inset 0 1px 1px rgba(255, 255, 255, 0.8);
}

.btn-print:hover {
    background: brown;
}

.btn-sm {
    margin-bottom: 0;
}

.btn-small {
    font-size: xx-small;
    padding: 6px 6px 6px 6px;
    margin-left: 4px;
}

.submit-button {
    background: rgb(84, 84, 189);
}

.submit-button:hover {
    background: rgb(111, 115, 189);
}

.main-content, .secondary-nav {
    background: white;
}

@media screen and(max-width: 1200px) {

    .main-content {
        overflow-y: hidden;
        overflow-x: hidden;
        height: 590px;
        width: 1280px;
        margin-top: 0;
        padding-top: 0;
    }
}

body, .body {
    background: #eef1f5;
    font-size: 17px;
}

@media screen and(max-width: 1200px) {

    body {
        height: 700px;
        width: 1400px;
        overflow-x: hidden;
    }
}

.menu-item > a > span {
    color: indigo;
    border-width: 2px;
}

.header {
    background: #eee;
    color: #337ab7;
    display: block;
}

.btn-menu-item {
    width: 100%;
    font-size: 16px;
    background: #4EA9C0;
    height: 24px;
    padding-top: inherit;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 900;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    color: white;
}

.toggleButton {
    background: #4BF0F7;
    border-color: white;
    color: #000000;
}

.btn-menu:hover, .btn-menu-hover {
    background: #4BF0F7;
    border-color: white;
    color: #000000;
}

.btn-media {
    height: 100px;
    width: 100px;
    position: relative;
}

.btn-media > img {
}

.bottom-text {
    bottom: 0;
    position: absolute;
    text-align: center;
    left: 50%;
}

.print-panel-body {
    padding: 0;
    margin-bottom: -2px;
    border-color: #ffffff;
    z-index: 10000;
    height: 25px;
    width: 100px;
}

.print-panel-body > .btn {
    width: 100%;
    background: #1493d1;
    color: #ffffff;
}

.print-panel {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-top: 25px;
}

.print-panel-footer {
    padding: 0;
    background: #1caff6;
}

.print-panel-footer > .btn {
    background: #1caff6;
}

.modal-print-content > div > div {
    width: 390px;
}

ul, ol {
    margin-bottom: 0;
}

.breadcrumb {
    margin-bottom: 0;
    margin-top: 6%;
    background: white;
}

.content-bar {
    margin-top: 0;
}

.search-form {
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    font-size: small;
    border-right: 1em solid #5bc0de;
    padding-left: 5%;
}

.search-form input {
    width: 100%;
}

.pagination {
    margin-top: 5px;
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 0;
}

.form-group > div {
    padding-left: 5px;
}

.codeResolverCode {
    width: 30%;
}

.codeResolverid {
    width: 30%;
}

.codeResolverserial {
    width: 100% !important;
}

.codeResolvername {
    width: 70%;
}

.codeResolverDescription {
    width: 73%;
}

.select2-drop-active {
    width: 94%;
}

.btn-sm:disabled {
    background: darkgray;
}

.modal-panel {
    margin-top: 30px;
}

.form-input {
    padding-left: 0;
}

.file-download {
    width: 7%;
    margin: 0 -4px 0 0;
    height: 25px;
    border-radius: 0;
    padding: 0 0 0 0;
}

.file-operation {
    padding-left: 0;
}

.user-panel:before, .user-panel:after {
    display: table;
    content: " ";
}

.user-panel > .image > img {
    width: 80px;
    height: 80px;
}

.image-avatar {
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.main-theme .user-panel > .image > img {
    border: 4px solid #9FABBD;
}

img {
    max-width: 100% !important;
}

.user-panel {
    padding: 15px 10px 0;
    position: relative;
}

.profile-list li {
    font-size: 12px;
    list-style: none;
    display: inline;
    margin: 0 5px;
}

ul.profile-list {
    padding: 0;
    text-align: center;
    position: relative;
    left: 0;
}

.main-theme .user-panel > .info, .main-theme .user-panel > .info > a {
    color: #555555;
}

.user-panel > .info {
    font-weight: 600;
    padding: 5px 0;
    line-height: 1;
}

.profile-list li a span {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #0D131E;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    font-size: 15px;
}

.user-operation {
    margin-top: 25%;
    color: white;
}

.username {
    color: black;
}

.img-circle {
    background: #0D131E;
}

.layout-fixed .wrapper .topnavbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 121;
}

.topnavbar {
    -webkit-backface-visibility: hidden;
    margin-bottom: 0;
    border-radius: 0;
    z-index: 1050;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    background: white;
}

.navbar-inverse {
    float: left;
    background-color: inherit;
    margin-left: 10px;
    margin-right: 10px;
}

.label-danger {
    background-color: #f05050;
}

.dropdown-toggle {
    height: inherit;
}

.locale-button {
    padding: 0 0 0 0;
    margin-top: 10%;
    background-color: inherit;
}

.locale-caret {
}

.user-operation:hover {
    color: aqua;
}

.locale-subitem:hover {
    cursor: hand;
    background: #23b7e5;
}

.locale-item, ul.locale-item {
    background: #222a38;
    color: white;
}

#select-research-center {
    white-space: normal;
    word-wrap: break-word;
}

@media screen and (max-width: 1000px ) {

    .select2-container {
        width: 100%;
    }

    .select-research-center-text {
        visibility: hidden;
        text-indent: 0;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0;
    }

    .selection-glyphicon {
        font-size: 150%;
        left: 50%;
        right: -5%;
    }
}

.hidden-xs {
    cursor: hand;
}

.sidebar-nav > li, .sidebar-nav > li > a:hover {
    background-color: inherit;
}

.navbar-inverse > .mail-nav, .navbar-inverse > .mail-nav > a:hover {
    background-color: inherit;
    cursor: hand;
}

.tooltip-inner {
    background: #1496bb;
    font-size: 14px;
    font-family: "XB ZAR", "X-Nassim", "Helvetica", serif;
}

#loader {
    position: absolute;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 180%);
}

#loader .bull {
    width: 20px;
    height: 20px;
    margin: 0 3px;
    border-radius: 99em;
    background: #FFFFFF;
    -webkit-animation: anima 500ms ease infinite alternate;
    animation: anima 500ms ease infinite alternate;
}

#loader .bull:nth-child(1) {
    -webkit-animation-delay: -900ms;
    animation-delay: -900ms;
}

#loader .bull:nth-child(2) {
    -webkit-animation-delay: -1800ms;
    animation-delay: -1800ms;
}

#loader .bull:nth-child(3) {
    -webkit-animation-delay: -2700ms;
    animation-delay: -2700ms;
}

#loader .bull:nth-child(4) {
    -webkit-animation-delay: -3600ms;
    animation-delay: -3600ms;
}

#loader .bull:nth-child(5) {
    -webkit-animation-delay: -4500ms;
    animation-delay: -4500ms;
}

@keyframes anima {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes anima {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.connection-dropped {
    background: red;
}

.locales-menu {
    background: #222a38;
}

.locale-btn-group {
    padding-top: 10%;
}

.tooltip {
    z-index: 10000;
}

.numeric-content {
    direction: ltr;
}

.pos-model .codeResolvermodelName {
    width: 100% !important;
}

.pos-model .codeResolverstoreName {
    width: 100% !important;
}

.pos-model .codeResolverserial {
    width: 100% !important;
}

.agency .codeResolvername {
    width: 70% !important;
}

.agency .codeResolverid {
    width: 30% !important;
}

.repairment-body .select2-drop-active {
    left: -3%;
}

.problem-body .select2-drop-active {
    left: -3%;
}

.selective-danger-toggle.active, .selective-danger-toggle.focus, .selective-danger-toggle:active, .selective-danger-toggle:focus, .selective-danger-toggle:hover, .open > .selective-danger-toggle.btn-primary {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: black;
}

.footer {
    position: fixed;
    clear: both;
    background-color: #075669;
    color: white;
    bottom: 0;
    z-index: 10;
    width: 74%;
    right: 13%;
}

.version {
    background-color: #075669;
    padding-right: 0;
}

.main-logo {
    width: 4%;
    position: fixed;
    top: 5px;
    left: 140px;
}

.caspian-logo {
    height: 3%;
    position: fixed;
    left: 140px;
    bottom: 3px;
}

.caspian-logo-text {
    position: fixed;
    left: 170px;
    bottom: 0;
    color: white;
}

.main-logo-text {
    position: fixed;
    top: 5px;
    left: 190px;
    color: #FFF;
}

.pos-serials-tag-input {
    height: 320px !important;
}

.caspian-logo-text > a {
    color: #ffffff;
}

.main-logo-agencyname-text {
    position: fixed;
    top: 1%;
    left: 35%;
    color: #000;
}

.conflictVisualStatuses {
    height: 23%;
}

.problemType {
    height: 14%;
}

.problemsVisualStatuses {
    height: 18%;
}

.ui-grid-cell-contents {
    height: auto;
}

#supplementInsert .codeResolvername {
    width: 70%;
}

#supplementInsert .select2-container {
    left: -1%;
}

#supplementPageTimestamp input {
    width: 87%;
}

#changeSupplementPosModel .select2-container {
    left: -1%;
}

#changeSupplementPosModel label {
    right: 3%;
}

#supplementInsert label {
    right: 3%;
}

.search-result-alarm {
    position: fixed;
    top: 20%;
    right: 67%;
}

.search-result-alarm2 {
    position: relative;
    top: 20%;
    right: 40%;
}

.search-result-alarm.ng-show {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.btn-size-xs {
    width: 50px;
}

.btn-size-sm {
    width: 60px;
}

.btn-size-md {
    width: 80px;
}

.btn-size-lg {
    width: 100px;
}

.padding-10 {
    padding: 10px;
}

.padding-5 {
    padding: 5px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.select2-drop, .select2-with-searchbox, .select2-drop-active {
    width: 84% !important;
}

.alertify.ajs-closable, .ajs-commands, button.ajs-close {
    float: left;
    margin-left: 0;
}

.alertify.ajs-movable:not(.ajs-maximized) .ajs-header {
    background-color: #c31307;
    padding: 10px;
    text-align: right;
}

.alertify.ajs-closable .ajs-commands button.ajs-close {
    padding-left: 0;
    margin-left: 0;
}

.navbar-nav > li > a {
    padding-bottom: 0;
}

.panel-title-text {
    padding-right: 0;
    float: right;
    margin-right: 15px;
    text-align: right;
    font-weight: bold;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.select2-container .select2-choice {
    margin-right: -10px;
}

.btn-theme {
    background-color: white;
    width: 100%;
}

ul.dropdown-menu > li > a:hover {
    color: white;
    background-color: #00daed;
}

.dropdown-menu > li:hover {
    background: #31b0d5;
    color: white;
}

.dropdown-menu > li {
    color: black;
    cursor: pointer;
    padding-right: 10px;
}

.dropdown-menu {
    right: auto;
    left: 1px;
    float: none;
    text-align: right;
}

.btn-menu {
    width: 100%;
    float: right;
    background: transparent;
    border: transparent;
    font-size: 18px;
}

.margin-top-5 {
    margin-top: 5px;
}

.btn-menu:hover {
    background-color: rgba(83, 133, 207, 0.48);
}

.selected-btn {
    background-color: rgba(83, 133, 207, 0.48);
}

.padding-left-0 {
    padding-left: 0;
}

.padding-right-0 {
    padding-right: 0;
}

.float-right {
    float: right;
}

.btn-menu:active {
    background-color: #8f1414;
}

.btn-menu:focus {
    background-color: #308f31;
}

.btn-default {
    color: white;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    color: white;
    background-color: #2CAFD8;
}

.btn-menu-item-lg {
    width: 109%;
    height: 27px;
    padding-top: 0;
    margin-right: -10px;
    font-size: medium;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.user-operation-menu-item {
    width: 41px !important;
    height: 41px !important;
    text-align: center;
    border-radius: 286%;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 4%;
    background: black;
}

.user-operation-menu-item-text {
    color: white;
    font-size: large;
    font-family: "X-Nassim", serif;
    width: 80%;
}

.menu-button-ex {
    background: white !important;
    color: black;
    border-color: white;
    border-radius: 0;
    width: 110%;
    margin-right: -5%;
}

.menu-button-ex:hover {
    background: #1caff6 !important;
    color: white !important;
}

.dropdown-menu-ex {
    background: white !important;
}

.application-body {
    background: #c5cbc7 !important;
}

.user-logo-button {
    width: 100%;
}

.crud-buttons {
    margin-top: -2%;
    margin-right: -3%;
    padding-right: 1px;
    width: 3em;
    background: whitesmoke;
}

.ui-grid-header-cell-wrapper {
    position: relative;
    display: table;
    box-sizing: border-box;
    max-height: 30px;
}

.main-grid {
    height: 350px;
    margin-top: 1%;
}

.ui-grid {
    border: 1px solid #d4d4d4;
    box-sizing: content-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    transform: initial;
}

.exelector-content {
    width: 97%;
    margin-right: 3% !important;
}

.search-form .exelector-content {
    width: 95%;
    margin-right: 5% !important;
}

.operation-button {
    margin-right: -20%;
    width: 89%;
    margin-top: 8%;
}

.modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    margin-top: 5%;
}

.btn-search {
    margin-top: 25%;
}

.application-sidebar-stretched .menu-item-icon {
    font-size: x-large;
    margin-top: 25%;
}

.application-sidebar-stretched .menu-item-title {
    visibility: hidden;
}

.application-sidebar-stretched {
    background: #3D4A53;
    height: 100%;
    position: fixed;
    width: 100px;
    z-index: 7;
    right: 160px;
    margin-top: 40px;
}

.application-sidebar {
    background: #3D4A53;
    height: 97%;
    right: 160px;
    position: fixed;
    width: 212px;
    margin-top: 43px;
    z-index: 6;
    overflow: scroll;
}

.hamburger-panel {
    background: #FB5557;
    height: 43px;
    width: 212px;
    margin-right: -15px;
    z-index: 3;
}

.hamburger-panel-stretched {
    background: #FB5557;
    height: 43px;
    width: 100px;
    margin-right: -15px;
    z-index: 3;
    padding-top: 13px;
    text-align: -webkit-center;

}

@media (min-width: 1200px) {

    .container-stretched {
        width: 1110px;
        margin-right: 262px;
        right: 0;
        position: absolute;
    }

    .container {
        width: 1000px;
        margin-right: 372px;
        right: 0;
        position: absolute;
    }
}

.crud-operations {
    margin-right: 91%;
    width: 5%;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #0199d9;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-shadow: -1px -1px 0 rgba(15, 73, 168, 0.66);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.crud-operations:focus {
    outline: none;
}

.breadcrumb-container {
    width: 98%;
    margin-right: 1%;
    margin-top: 0;
    color: #FAFCFB;
    background: white;
}

.panel-info > .panel-heading {
    color: #FFFFFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}

.hamburger-panel > i {
    margin-right: 72%;
    margin-top: 13px;
    font-size: inherit;
    background: transparent;
}

.hamburger-panel > i:hover {
    cursor: pointer;
    color: white;
}

.hamburger-panel-stretched > i:hover {
    cursor: pointer;
    color: white;
}

.menu-item-stretched {
}

.menu-item {
    background: #3D4A53;
    width: 100%;
    height: 75px;
    border: 1px solid #787D82;
    text-align: -webkit-center;
}

.menu-item:hover {
    background: #647988;
    cursor: pointer;
}

.menu-item > span {
    left: -48%;
    top: 45%;
    position: relative;
}

.menu-item-icon {
    margin-top: 12px;
    color: #01b070;
}

.menu-item-title {
    color: #ffffff;
}

.menu-container {
    margin-right: 160px;
    float: right;
}

.menu-container > ::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.sub-menu-item:hover {
    background: #344047;
    font-size: large;
}

.sub-menu-item {
    width: 206px;
    min-height: 50px;
    border-bottom: 1px solid black;
    color: white;
    cursor: pointer;
}

.sub-menu-item-icon {
    right: 5px;
    margin-top: 6%;
    color: #fb5f61;
}

.sub-menu-item-title {
    margin-top: -9%;
    margin-right: 18%;
    width: 82%;
}

.sub-item-selected {
    font-size: large;
    background: #344047;
}

.menu-expanded {
    background: #272727;
}

.menu-expanded:hover {
    background: #383838;
}

.menu-container ::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.menu-sub-panel-stretched {
    position: absolute;
    margin-right: 100px;
    background: #3D4A53;
    z-index: 1;
    margin-top: -75px;
    overflow: scroll;
    height: 500px;
}

.top-navbar {
    top: 0;
    right: 160px;
    background: aliceblue;
    width: 1212px;
    min-height: 33px;
    position: fixed;
    z-index: 1;
}

.footer-navbar {
    bottom: 0;
    right: 160px;
    background: rgb(61, 74, 83);
    width: 1212px;
    height: 33px;
    position: fixed;
    z-index: 4;
}

.menu-header {
    background: #5bc0de;
    border: solid #46b8da;
    color: white;
    text-align: -webkit-center;
}

.user-icon:hover {
    cursor: pointer;
}

.user-icon {
    background: #FB5557;
    color: white;
    width: 40px;
    height: 40px;
    padding-top: 12px;
    border-radius: 71%;
    margin-top: -5px;
    left: 18px;
    text-align: -webkit-center;
}

.user-icon-container:hover {
    background: white;
}

.user-icon-container {
    margin-right: 99px;
    margin-top: 8px;
    width: 181px;
    cursor: pointer;
}

.user-dropdown-menu {
    right: 130px;
    left: 1px;
    float: none;
    text-align: right;
}

.dropdown-menu i {
    margin-left: 10px;
}

.bottom-spacing {
    height: 36px;
}

.waiting {
    top: 0;
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    padding-top: 40vh;
    background: #333333;
    padding-right: 43%;
    opacity: 0.9;
}

.please-wait {
    margin-left: 70%;
    margin-top: 0;
    font-size: xx-large;
    color: #ffffff;
    text-shadow: 0 0 0.1ex;
}

.ui-select-dropdown {
    opacity: 1;
    width: 100% !important;
    left: 0%;
}

.close-button {
    left: 0;
    position: absolute;
    top: 0;
    width: 6%;
    height: 51px;
    padding-right: 10px;
}

.panel-body {
    padding-bottom: 11px;
    border-bottom: 3px solid #dfdfdf;
}

.operation-buttons {
    margin-top: 10px;
}

.select2-search input {
    width: 100% !important;
}

.lookupRow {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.lookupBodyRow {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.lookupPanelBorder {
    border: groove #555;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal.container {
    max-width: none;
}

@media screen and(max-width: 1200px) {

    .main-content {
        overflow-y: hidden;
        overflow-x: hidden;
        height: 590px;
        width: 1280px;
        margin-top: 0;
        padding-top: 0;
    }
}

@media screen and(max-width: 1200px) {

    body {
        height: 700px;
        width: 1400px;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1000px ) {

    .select2-container {
        width: 100%;
    }

    .select-research-center-text {
        visibility: hidden;
        text-indent: 0;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0;
    }

    .selection-glyphicon {
        font-size: 150%;
        left: 50%;
        right: -5%;
    }
}

@keyframes anima {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes anima {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@media (min-width: 1200px) {

    .container-stretched {
        width: 1110px;
        margin-right: 262px;
        right: 0;
        position: absolute;
    }

    .container {
        width: 1000px;
        margin-right: 372px;
        right: 0;
        position: absolute;
    }
}

.alertify nav {
    text-align: center !important;
}

.alertify .msg {
    text-align: center !important;
}

.alertify button.ok:hover {
    color: #fff !important;
    background-color: #31b0d5 !important;
    border-color: #269abc !important;
}

.alertify button.ok {
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
    color: #ffffff !important;
}

.ui-select-choices-row:hover {
    color: #000;
    background-color: #5bc0de;

}

.login-body {
    background: #e9e9e9;
    color: #666666;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "X-Nassim", serif;
}

.form-module {
    position: relative;
    background: #ffffff;
    max-width: 320px;
    width: 100%;
    border-top: 5px solid #33b5e5;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 9% auto 0;
}

.form-module .form {
    display: none;
    padding: 40px;
}

.form-module .form:nth-child(1) {
    display: block;
}

.form-module h2 {
    margin: 0 0 20px;
    color: #33b5e5;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    direction: rtl;
}

.form-module input {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-wieght: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-family: "X-Nassim", serif;
}

.form-module input:focus {
    border: 1px solid #33b5e5;
    color: #333333;
}

.form-module button {
    cursor: pointer;
    background: #33b5e5;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-family: "X-Nassim", serif;
}

.form-module button:hover {
    background: #178ab4;
}

.form-module .cta {
    background: #f2f2f2;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    color: #666666;
    font-size: 12px;
    text-align: center;
}

.form-module .cta a {
    color: #333333;
    text-decoration: none;
}

.login-body ::-webkit-input-placeholder {
    direction: rtl;
}

.login-body ::-moz-placeholder { /* Firefox 19+ */
    direction: rtl;
}

.login-body :-ms-input-placeholder { /* IE 10+ */
    direction: rtl;
}

.login-body :-moz-placeholder {
    direction: rtl;
}

.error-messages.ng-active {
    background: maroon;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 10%;
    text-align: center;
    position: relative;
}

.error-messages.ng-active:after {
    position: absolute;
    top: -10px;
    content: "";
    left: 20px;
    border: 5px solid transparent;
    border-bottom-color: maroon;
}

.form-horizontal .control-label {
    text-align: right;
}

tags-input .tags {
    height: auto;
}

tags-input .host {
    height: auto;
}

.form-group > div {
    padding-left: 0px;
}

.tags {
    border-radius: 3px;
}

tags-input.has-tags input {
    display: none;
}

.btn-menu-item-lg, .select2-container .select2-choice {
    margin-right: 0px;
}

.center-block {
    width: 900px;
}

.spl-input-text {
    width: 100%
}