<div class="body" ng-class="{false:'container',true:'container-stretched'}[$ctrl.parent.panelStretched]">
    <div class="page-content" ng-click="$ctrl.parent.closeAllMenus()">
        <div class="breadcrumb-container">
            <div class="dropdown">
                <button
                        class="crud-operations" id="dropdown1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    عملیات
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdown1" has-permission="CREATE">
                    <li ng-repeat="action in $ctrl.getActions()">
                        <div ng-click="$ctrl.signalAction(action)">
                            <i class="glyphicon glyphicon-search"></i>
                            {{("Action."+action)| translate}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <spl:body-content>
        </spl:body-content>
        <div class="bottom-spacing"></div>
    </div>
</div>