<div class="panel panel-info">
    <div class="panel-body">
        {{$ctrl.header | translate}}
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <spl:Exelector ng-model="$ctrl.model" label='{{$ctrl.label | translate}}' not-null="{{$ctrl.notNull}}"
                               label-size="{{$ctrl.labelSize}}" name='$ctrl.name'
                               placeholder="{{$ctrl.placeholder}}" fields-to-select="{{$ctrl.fieldsToSelect}}"
                               header-field='{{$ctrl.headerField}}' detail-fields='{{$ctrl.detailFields}}'
                               disabled="$ctrl.disabled" source-items="$ctrl.sourceItems"
                               bindable-field="{{$ctrl.bindableField}}">
                </spl:Exelector>
            </div>
        </div>
        <div class="row">
            <tags-input ng-model="$ctrl.ngModel" placeholder="{{$ctrl.tagPlaceholder}}" allow-duplicates="false"
                        add-from-autocomplete-only="true"></tags-input>
        </div>
    </div>
</div>

