<div class="panel panel-info">
    <div class="panel-body">
        {{header | translate}}
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <exelector ng-model="model" label='{{label | translate}}' not-null="{{notNull}}"
                               label-size="{{labelSize}}" name='name'
                               placeholder="{{placeholder}}" fields-to-select="{{fieldsToSelect}}"
                               header-field='{{headerField}}' detail-fields='{{detailFields}}'
                               disabled="disabled" source-items="sourceItems"
                               bindable-field="{{bindableField}}">
                </exelector>
            </div>
        </div>
        <div class="row">
            <tags-input ng-model="ngModel" placeholder="{{tagPlaceholder}}" allow-duplicates="false"
                        add-from-autocomplete-only="true"></tags-input>
        </div>
    </div>
</div>

