<div class="form-inline form-inline-container">
    <div class="form-group" ng-if="$ctrl.type=='checkbox'">
        <label for="{{$ctrl.id}}" class="control-label {{'col-lg-' + $ctrl.labelSize + ' col-md-' + $ctrl.labelSize}}">
            <span ng-if="$ctrl.label">{{$ctrl.label}}</span>
            <span ng-if="!$ctrl.label">&nbsp;</span>
            <span ng-show="$ctrl.notNull" style="color: red;">*</span></label>
        <div class="{{'col-lg-' + (12 - $ctrl.labelSize) + ' col-md-' + (12 - $ctrl.labelSize)}}">
            <input id="{{$ctrl.id}}" ng-disabled="$ctrl.disabled" class="form-control" type="checkbox"
                   placeholder="{{$ctrl.placeholder}}" ng-model="$ctrl.ngModel" auto-focus="$ctrl.autofocus"/>
        </div>
    </div>
    <div ng-if="$ctrl.type=='toggle'"
         class="{{'col-lg-' + (12 - $ctrl.labelSize) + ' col-md-' + (12 - $ctrl.labelSize)}}">
        <label class="btn btn-primary btn-size-md" ng-model="$ctrl.ngModel" uib-btn-checkbox uncheckable>
            {{$ctrl.label | translate}}</label>
    </div>

</div>