<div ng-if="$ctrl.parent.operation=='CREATE'">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="modal-title">{{'app.modal.create'|translate}}
                {{$ctrl.titleKey|translate}}</h3>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-9 col-xs-offset-1">
                <form name="form" class="modal-body" do-action="ctrl+enter:Actions.insert()" ng-transclude>

                </form>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class='col-xs-12'>
                <button class="btn btn-primary btn-lg " id='saveButton'
                        ng-click='$ctrl.insert(form)'>
                    {{('app.button.create'|translate)}}
                </button>
            </div>
        </div>
    </div>
</div>