<div ng-if="$ctrl.parent.operation=='EDIT'">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="modal-title">{{'app.modal.edit' | translate}}
                {{titleKey|translate}}</h3>
            <button class="btn btn-danger close-button glyphicon glyphicon-remove"
                    ng-click="$ctrl.parent.Actions.cancel()"></button>
        </div>
    </div>
    <div class="panel-body">
        <form name="form" class="modal-body" do-action="ctrl+enter:Action.insert()" ng-transclude>

        </form>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class='col-xs-12'>
                <button class="btn btn-primary btn-lg" id='saveButton'
                        ng-click='$ctrl.insert(form)'>
                    {{'app.button.edit' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>