<div class="form form-horizontal form-input">
    <div class="form-group"
         ng-class="{'has-feedback': feedback, 'has-success': state == 'valid', 'has-error': state == 'invalid', 'has-warning': state == 'warning', 'has-info': state == 'notice'}">
        <label id="label" for="{{name}}"
               class="control-label {{('col-xs-' + labelSize + ' col-md-' + labelSize)}}"><span
                ng-if="label">{{label|translate}}</span><span ng-show="notNull" style="color: red;">*</span></label>
        <div class="{{('col-lg-' + (12 - labelSize) + ' col-md-' + (12 - labelSize))}}">
            <ui-select ng-model="item.selected" theme="select2" ng-disabled="disabled" class="exelector-content">
                <ui-select-match placeholder="{{placeholder}}"><span ng-repeat="selectedField in selectedFields">{{$select.selected[selectedField]+' '}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in data | propsFilter: { {{propsFilter}} }">
                    <div ng-if="headerField!=undefined"
                         ng-bind-html="item[headerField] | highlight: $select.search"></div>
                    <small>
                        <span ng-repeat="field in fieldNames"
                              ng-bind-html="' '+item[field] | highlight: $select.search"></span>
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>