<div class="form form-horizontal form-input">
    <div class="form-group">
        <label id="$ctrl.label" for="{{$ctrl.name}}"
               class="control-label {{('col-xs-' + $ctrl.labelSize + ' col-md-' + $ctrl.labelSize)}}"><span
                ng-if="$ctrl.label">{{$ctrl.label|translate}}</span><span ng-show="$ctrl.notNull" style="color: red;">*</span></label>
        <div class="{{('col-lg-' + (12 - $ctrl.labelSize) + ' col-md-' + (12 - $ctrl.labelSize))}}">
            <ui-select ng-model="$ctrl.item.selected" theme="select2" ng-disabled="$ctrl.disabled"
                       class="exelector-content">
                <ui-select-match placeholder="{{$ctrl.placeholder}}"><span
                        ng-repeat="selectedField in $ctrl.selectedFields">{{$select.selected[selectedField]+' '}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in $ctrl.data | propsFilter: { {{$ctrl.propsFilter}} }">
                    <div ng-if="$ctrl.headerField!=undefined"
                         ng-bind-html="item[$ctrl.headerField] | highlight: $select.search"></div>
                    <small>
                        <span ng-repeat="field in $ctrl.fieldNames"
                              ng-bind-html="' '+item[field] | highlight: $select.search"></span>
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>