<div class="form form-horizontal form-input input-sm">
    <div class="form-group">
        <label for="{{$ctrl.name}}"
               class="control-label {{'col-lg-' + $ctrl.labelSize + ' col-md-' + $ctrl.labelSize}}"><span
                ng-if="$ctrl.label">{{$ctrl.label|translate}}</span><span ng-show="$ctrl.notNull"
                                                                          style="color: red;">*</span></label>
        <div
                class="{{'col-lg-' + (12 - $ctrl.labelSize) + ' col-md-' + (12 - $ctrl.labelSize)}}">
            <input id="{{$ctrl.name}}" ng-disabled="$ctrl.disabled" type="{{$ctrl.type}}"
                   placeholder="{{$ctrl.placeholder}}" ng-model="$ctrl.ngModel"
                   popover-trigger="mouseenter"
                   name="{{$ctrl.name}}"
                   typeahead="item for item in $ctrl.getItems($viewValue)"
                   class="spl-input-text"
                   uib-popover="{{$ctrl.tooltip}}"/>
        </div>
    </div>
</div>
