<div class="menu-container">
    <div ng-class="{false:'application-sidebar',true:'application-sidebar-stretched'}[$ctrl.parent.panelStretched]">

        <div class="menu-item" ng-click="$ctrl.Actions.selectHome()">
            <div class="glyphicon glyphicon-home menu-item-icon"></div>
            <p class="menu-item-title"> صفحه اصلی</p>
        </div>

        <div ng-init="menu.expanded=false" ng-repeat="menu in $ctrl.menus track by menu.title">
            <div class="menu-item" ng-click="$ctrl.Actions.expandMenu(menu)"
                 ng-class="{'menu-expanded': menu.expanded}">
                <div class="glyphicon glyphicon-th-large menu-item-icon"></div>
                <p class="menu-item-title">{{('menu.' + menu.prefix +".header") | translate}}</p>
            </div>
            <div ng-show="menu.expanded==true && $ctrl.parent.panelStretched==false">
                <div ng-repeat="detail in menu.details" class="sub-menu-item"
                     ng-class="{'sub-item-selected': (menu.prefix+'.'+detail.labelKey)==$ctrl.SelectedPage}"
                     ng-click="$ctrl.Actions.select(menu,detail)" angular-ripple>
                    <div class="glyphicon glyphicon-triangle-left sub-menu-item-icon"></div>
                    <p class="sub-menu-item-title">{{('menu.'+menu.prefix+'.'+detail.labelKey) | translate}}</p>
                </div>
            </div>

            <div ng-if="menu.entered==true && $ctrl.parent.panelStretched==true" class="menu-sub-panel-stretched">
                <div class="menu-header">{{('menu.' + menu.prefix+".header") | translate}}</div>
                <div ng-repeat="detail in menu.details" class="sub-menu-item"
                     ng-class="{'sub-item-selected': (menu.prefix+'.'+detail.labelKey)==$ctrl.SelectedPage}"
                     ng-click="$ctrl.Actions.select(detail)">
                    <div class="glyphicon glyphicon-triangle-left sub-menu-item-icon"></div>
                    <p class="sub-menu-item-title">{{('menu.'+menu.prefix+'.'+detail.labelKey) | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>