<div class="panel" ng-disable="$ctrl.disabled"
     ng-class="{'default': 'panel-default', 'danger': 'panel-danger', 'info': 'panel-info', 'warning': 'panel-warning'}[$ctrl.type]">
    <div class="panel-heading">
        <h4 class="panel-title" ng-click="isOpen = !isOpen" style="cursor: pointer;">
            <i ng-if="$ctrl.collapsible"
               class="glyphicon {{isOpen ? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'}}"></i>
            {{$ctrl.title}}
        </h4>
    </div>
    <div ng-show="!$ctrl.collapsible" class="panel-body" ng-transclude></div>
    <div ng-show="$ctrl.collapsible">
        <div class="panel-body animate-show" ng-transclude ng-show="isOpen"></div>
    </div>
</div>
