<div ng-if="$ctrl.parent.operation=='SEARCH'">
    <div class="panel panel-info">
        <div class="panel-heading">
            {{'app.modal.search' | translate}} {{titleKey | translate}}
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="search-modal-body" do-action="ctrl+enter:Actions.find()">
                    <form name="Form" ng-enter="$ctrl.parent.Actions.find()" class="search-form" ng-transclude>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-xs-offset-11">
                <button ng-click='$ctrl.parent.Actions.find()' class="btn  btn-success btn-search">
                    {{'app.button.search' | translate}}
                </button>
            </div>
        </div>
        <div class="row">
            <div class='col-xs-12'>
                <div class="modal-grid" ui-grid="$ctrl.parent.MainGrid" ui-grid-selection
                     ui-grid-pagination ui-grid-auto-resize
                     dir="{{$ctrl.parent.localeDirection}}"></div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="row" style="text-align: center">
            <div class='col-xs-12'>
                <button ng-disabled="!$ctrl.parent.MainGrid.isSelected"
                        class="btn btn-info btn-lg"
                        ng-click='$ctrl.parent.Actions.add()'>
                    {{'app.button.select' | translate}}
                </button>
                <button class="btn btn-primary btn-lg"
                        ng-click="$ctrl.parent.Actions.reset()">
                    {{'app.button.reset' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>