<div ng-if="$ctrl.parent.operation=='SHOW'">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="modal-title">{{'app.modal.showDetails' | translate}}
                {{$ctrl.parent.titleKey| translate}}</h3>
            <button class="btn btn-danger close-button glyphicon glyphicon-remove"
                    ng-click="$ctrl.cancel()"></button>
        </div>
    </div>
    <div class="panel-body">
        <form name="ShowUser" class="modal-body" ng-transclude>

        </form>
    </div>
</div>