<div class="row operation-buttons">
    <div class="col-xs-3">
        <button class="btn btn-primary"
                ng-click="$ctrl.parent.Actions.edit()"
                ng-disabled="$ctrl.parent.MainGrid.isSelected==false">
            {{'app.button.edit'|translate}}
        </button>
        <button class="btn btn-info"
                ng-click="$ctrl.parent.Actions.show()"
                ng-disabled="$ctrl.parent.MainGrid.isSelected==false">
            {{'app.button.show'|translate}}
        </button>
        <button class="btn btn-danger"
                ng-click="$ctrl.parent.Actions.remove()"
                ng-disabled="$ctrl.parent.MainGrid.isSelected==false">
            {{'app.button.delete'|translate}}
        </button>
    </div>
    <div class="col-xs-2 col-xs-offset-7">
        <span>{{"app.panel.title.search.result" | translate}} <span
                class="badge">{{$ctrl.parent.MainGrid.content.length}}</span></span>
    </div>
</div>

<div class="row">
    <div class='col-xs-12'>
        <div ui-grid="$ctrl.parent.MainGrid" class="main-grid" ui-grid-selection dir="rtl"
             ui-grid-pagination ui-grid-auto-resize>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-xs-12">
        <uib-pagination items-per-page="1"
                        total-items="$ctrl.parent.MainGrid.gridApi.pagination.getTotalPages()"
                        ng-model="$ctrl.parent.MainGrid.currentPage"
                        max-size="100"
                        class="pagination-sm"
                        boundary-links="true"
                        rotate="false"
                        num-pages="$ctrl.parent.MainGrid.numPages"
                        ng-change="$ctrl.parent.MainGrid.gridApi.pagination.seek($ctrl.parent.MainGrid.currentPage)"
                        previous-text="{{'app.previous'|translate}}"
                        next-text="{{'app.next'|translate}}"
                        first-text="{{'app.first'|translate}}"
                        last-text="{{'app.last'|translate}}">
        </uib-pagination>
    </div>
</div>