<div class="body" ng-class="{false:'container',true:'container-stretched'}[$ctrl.parent.panelStretched]">
    <div class="page-content" ng-click="$ctrl.parent.panel.closeAllMenus()">
        <div class="main-content" ng-transclude>
        </div>
        <div class="bottom-spacing"></div>
    </div>
</div>