<div class="form-group form-inline-container form-input input-sm">
    <label for="{{$ctrl.id}}" class="control-label {{'col-lg-' + $ctrl.labelSize + ' col-md-' + $ctrl.labelSize}}">
        <span ng-if="$ctrl.label">{{$ctrl.label}}</span>
        <span ng-if="!$ctrl.label">&nbsp;</span>
        <span ng-show="$ctrl.notNull" style="color: red;">*</span>
    </label>
    <div class="{{'col-lg-' + (12 - $ctrl.labelSize) + ' col-md-' + (12 - $ctrl.labelSize)}}">
            <textarea class="form-control" ng-if="$ctrl.tailable" show-tail ng-disabled="$ctrl.disabled"
                      rows="4" id="{{$ctrl.id}}" placeholder="{{$ctrl.placeholder}}" ng-model="$ctrl.ngModel">
            </textarea>
    </div>
</div>