<div class="top-navbar">
    <div class="col-lg-2">
        <div ng-class="{false:'hamburger-panel',true:'hamburger-panel-stretched'}[$ctrl.parent.panelStretched]">
            <i class="glyphicon glyphicon-menu-hamburger" ng-click="$ctrl.parent.Actions.togglePanelStretch();"></i>
        </div>
    </div>

    <div class="col-xs-2 col-xs-offset-7 dropdown">
        <div class="user-icon-container"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-user user-icon"></span>
            <span class="caret"></span>
            <span id="user-dropdownmenu">{{user.fullName}}</span>
        </div>

        <ul class="dropdown-menu user-dropdown-menu" aria-labelledby="user-dropdownmenu">
            <li>
                <div><i class="glyphicon glyphicon-cog"></i>تنظیمات من</div>
            </li>
            <li>
                <div><i class="glyphicon glyphicon-envelope"></i>پیغام های من</div>
            </li>
            <li>
                <div><a href="/logout"><i class="glyphicon glyphicon-log-out"></i>تغییر کاربر</a></div>
            </li>
        </ul>
    </div>
</div>