<div class="error-messages" ng-if="$ctrl.interacted($ctrl.form[$ctrl.name])"
     ng-messages="$ctrl.form[$ctrl.name].$error">
    <div ng-message="required">{{'messages.required'|translate}}</div>
    <div ng-message="minlength">
        {{$ctrl.format($ctrl.translate('messages.minlength'),[$ctrl.form[$ctrl.name].data])}}
    </div>
    <div ng-message="maxlength">
        {{$ctrl.format($ctrl.translate('messages.maxlength'),[$ctrl.form[$ctrl.name].data])}}
    </div>
    <div ng-message="equals">
        {{$ctrl.format($ctrl.translate('messages.equals'),[$ctrl.form[$ctrl.name].data])}}
    </div>
    <div ng-message="sameAs">
        {{$ctrl.format($ctrl.translate('messages.sameAs'),[$ctrl.form[$ctrl.name].data])}}
    </div>
    <div ng-message="number">
        {{'messages.number'|translate}}
    </div>
    <div ng-message="email">{{'messages.email'|translate}}</div>
    <div ng-message="english">{{'messages.english'|translate}}</div>
    <div ng-message="persian">{{'messages.persian'|translate}}</div>
    <div ng-message="pattern">{{'messages.pattern'|translate}}</div>
    <div ng-message="greaterThan">
        {{$ctrl.format($ctrl.translate('messages.greaterThan'),[$ctrl.form[$ctrl.name].data])}}
    </div>
    <div ng-message="lessThan">
        {{$ctrl.format($ctrl.translate('messages.lessThan'),[$ctrl.form[$ctrl.name].data])}}
    </div>
    <div ng-message="strong-password">
        {{'messages.strong-password'|translate}}
    </div>

    <div ng-transclude>
    </div>

</div>