<div class="waiting" data-loading>
    <div class="please-wait">لطفا صبر کنید....</div>
    <ul class="nav navbar-nav sidebar-nav">
        <li>
            <div class="loading-spiner-holder">
                <div id='loader'>
                    <div class='bull'></div>
                    <div class='bull'></div>
                    <div class='bull'></div>
                    <div class='bull'></div>
                    <div class='bull'></div>
                </div>
            </div>
        </li>
    </ul>
</div>