<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{$ctrl.header}}</h4>
        <br>
    </div>
    <div class="panel-body">
        <input type="text" ng-model="sample" ui-mask="9999" ui-mask-placeholder ui-mask-placeholder-char="_">
        <span class="glyphicon glyphicon-remove"></span>
        <!--<span class="input-group-addon"><i class="icon-reload icons"></i></span>-->
    </div>
</div>